<h1>Listing Cars</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><b>Description</b></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <thead>

<tbody>
    <%= render @pins %>
</tbody>
</table>

<br/>

<%= link_to 'New Car', new_pin_path %>
